---
import Hero from "@/components/ui/Hero";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import Timeline from "@/components/ui/Timeline";
import type { CollectionEntry } from "astro:content";
import type { TimelineEntry } from "@/types";
import PostCard from "@/components/ui/PostCard";

type BlogEntry = CollectionEntry<"blog">;

const rawPosts: BlogEntry[] = await getCollection("blog");

const posts = rawPosts
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  )
  .slice(0, 3);
const techs = [
  { name: "React", logo: "react" },
  { name: "Astro", logo: "astro" },
  { name: "Javascript", logo: "javascript" },
  { name: "Java", logo: "openjdk" },
  { name: "Python", logo: "python" },
  { name: "Django", logo: "django" },
  { name: "Spring Boot", logo: "spring" },
];

const timelineData: TimelineEntry[] = [
  {
    date: "2020 - Interrompido",
    title: "UFPR - Ciência da Computação",
    content:
      "Iniciei o curso de Ciência da Computação na UFPR. Apesar de não ter concluído, adquiri fundamentos sólidos em ciência da computação.",
  },
  {
    date: "2022 - Concluído",
    title: "Curso de Java",
    content:
      "Curso completo de Java com Leonardo Moura Leitão, abordando desde conceitos básicos até desenvolvimento com Spring Boot, bancos de dados relacionais e boas práticas de programação.",
  },
  {
    date: "2024 - Andamento",
    title: "Projeto Parajas (UFPR)",
    content:
      "Projeto de iniciação científica focado em pesquisa jurídica com Python e desenvolvimento de um website para consulta em base de dados. Atualmente em desenvolvimento.",
  },
  {
    date: "2025 - Andamento",
    title: "Uninter - Análise e Desenvolvimento de Sistemas",
    content:
      "Cursando graduação em Análise e Desenvolvimento de Sistemas, aprofundando conhecimentos em desenvolvimento de software e tecnologias emergentes.",
  },
];
---

<MainLayout>
  <section
    class="flex flex-col items-center justify-center w-[90%] md:w-[60%] mx-auto"
  >
    <Hero />
    <div class="flex justify-center items-center gap-5 flex-wrap">
      {
        techs.map((tech, index) => {
          const badgeUrl = `https://img.shields.io/badge/${encodeURIComponent(
            tech.name
          )}-181717?style=flat&logo=${encodeURIComponent(tech.logo)}&logoColor=white`;
          return <img src={badgeUrl} alt={tech.name} class="h-8" />;
        })
      }
    </div>
    <Timeline timelineData={timelineData} />
    <div class="w-full flex flex-col gap-5">
      <h2 class="text-2xl mb-2 w-full">Ultimos Posts</h2>
      {posts.map((post: BlogEntry) => <PostCard post={post} />)}
      <a href="/blog" class="text-sm text-blue-500 underline"
        >Veja todos os posts</a
      >
    </div>
  </section>
</MainLayout>
